@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="card">
            <p>Hello World!</p>
        </div>
    </div>
</div>

@section scripts{ 
   
}